# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.DupFinder.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jack\source\repos\DupFinder\.idea\.idea.DupFinder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
